<!-- public/views/home.html -->
<div class="jumbotron text-center transparant">
  <h1>Le meilleur maire</h1>

  <div ng-show="vmMain.isLoggedIn()">
        <h2>Créer de nouveaux bâtiments:</h2>

        <a href="/addBuilding" class="btn btn-default"><span class="fa fa-user"></span> Créer bâtiment</a>
  </div>

  <h2>Règles du jeu<h2>
  <p><b>
    Le groupe est divisé en des différentes équipes qui représentent une ville.
    Le but du décider quels bâtiments ils vont bâtir.
    Un bâtiment donne des profits ou pertes, des touristes et de la population.
    Les touristes dépensent de l’argent dans votre ville et la population paye des taxes.
  </b></p>

  <h3>
    Les bâtiments
  </h3>

  <p>
    Une liste des bâtiments se trouve à la page <a href="/buildings">bâtiments</a>.
    Sous chaque bâtiment vous trouvez ses détails. Parmi ces détails se trouvent:
  </p>

  <h4>Description:</h4>

  <p>
    Une petite description du bâtiment qui contient le but de ce bâtiment et les conditions qui doivent être remplies afin de pouvoir le bâtiment.
  </p>

  <h4>Prix:</h4>

  <p>
    Les prix varient de € 0 jusqu’à € 10 000 000.
  </p>

  <h4>Population de base:</h4>

  <p>
    Nombre de population que vous recevez une seule fois avec la construction de ce bâtiment.
  </p>

  <h4>Touristes de base:</h4>

  <p>
    Nombre de touristes que vous recevez une seule fois avec la construction de ce bâtiment.
  </p>

  <h4>Revenus de base:</h4>

  <p>
    De l’argent que vous recevez une seule fois avec la construction de ce bâtiment.
    Dans la plupart des cas des subventions.
  </p>

  <h4>Population par tour:</h4>

  <p>
    Nombre de population générée chaque tour par la construction de ce bâtiment.
  </p>

  <h4>Touristes par tour:</h4>

  <p>
    Nombre de touristes générés chaque tour par la construction de ce bâtiment.
  </p>

  <h4>Revenus par tour:</h4>

  <p>
    De l’argent généré par ce bâtiment chaque tour.
  </p>

  <h3>Jouer le jeu</h3>
  <p>Le jeu est divisé en tours. Chaque tour contient les prochaines étapes.</p>

  <h4>Remue-méninge:</h4>

  <p>
    Cette étape prend 5 minutes. Pendant ces 5 minutes les équipes peuvent chercher le et discuter du meilleur bâtiment pour ce tour.
    Ils peuvent comparer les différents bâtiments, faire le compte des pertes ou profits, décider où le bâtiment sera placé.
  </p>

  <h4>Demande d’autorisation de bâtir:</h4>

  <p>
    Pendant cette étape chaque équipe vient, à tour de rôle, au CGBF et demande la permission de bâtir le bâtiment.
    Le CGBF vérifie si toutes les conditions sont remplies. Si toutes les conditions sont remplies le CGBF donne l’autorisation de bâtir et l’équipe reçoit le bâtiment qu’ils peuvent ensuite placer sur leur tableau.
    Si une des conditions n’est pas remplie, le CGBF va repousser la demande et l’équipe ne peut pas bâtir de bâtiment pendant ce tour.
  </p>

  <h4>Événements:</h4>

  <p>
    Pendant cette étape chaque équipe choisit une carte sur laquelle se trouve un événement.
    Ceci peut être un profit en surplus ou une perte inattendue.
  </p>

  <h4>Bilan du tour:</h4>

  <p>
    Pendant cette étape le bilan du tour sera montré aux équipes.
    Les équipes pourront voir le nombre de population et de touristes des autres villes.
    Aussi que le profit/la perte des autres villes. 
    La ville qui se trouve premier dans la classification sera la première à demander l’autorisation pendant le prochain tour.
  </p>

</div>
